body {
background-image:url("image1.jpg");
background-repeat:no-repeat;
background-size: cover;
font-family: Arial, Helvetica;
font-style: italic;
   }
   #opa{
	  color:pink;
    border:inherit;
   }
  hr{
    border-image:Blue;
    border-top-style:dashed;
  }
  h1{
	  color:Blue;
  }
.yellow{
  color:Yellow;
}
table:hover{
color:#ffd700;
   }
h3{
 color:#ffffff
   }
   h2{
	    border: 3px solid green
   }
